<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                <section class="contact-info">
                    <p>洽詢專線：(02)8773-9808</p>
                    <p>活動內容洽詢：<a href="mailto:yayun.cheng@bnext.com.tw">yayun.cheng@bnext.com.tw</a>｜分機 278 鄭小姐</p>
                    <p>報名與票券洽詢：<a href="mailto:peiyu.hsu@bnext.com.tw">peiyu.hsu@bnext.com.tw</a>｜分機 329 徐小姐 ;<a
                            href="mailto:anna.chi@bnext.com.tw"> anna.chi@bnext.com.tw</a>｜分機 351 紀小姐</p>
                </section>

                <section class="event-info">
                    <ul class="list-unstyled d-flex align-items-center">
                        <li>其他高峰會 ｜</li>
                        <li><a href="#">未來經理人</a></li>
                        <li><a href="#">行銷科技高峰會</a></li>
                    </ul>
                </section>

                <section class="media-info">
                    <ul class="list-unstyled d-flex align-items-center">
                        <li>Bnext Media 媒體群 ｜</li>
                        <li><a href="#">數位時代</a></li>
                        <li><a href="#">經理人</a></li>
                        <li><a href="#">Shopping Design</a></li>
                        <li><a href="#">創業小聚</a></li>
                        <li><a href="#">未來商務</a></li>
                    </ul>
                </section>

                <section class="customer-service">
                    <p>客服專線：(02)8771-6326 服務時間：週一至週五9:30-12:00；13:30-17:00；主辦單位保留活動及網頁大綱異動之權利。更新資訊以活動網站內容為主。</p>
                </section>

                <address class="copyright m-0">
                    <p>© 2024 Business Next Media Corp. All Rights Reserved. 106 台北市大安區光復南路102號10樓</p>
                </address>
            </div>
        </div>
    </div>
</footer>